<td>{{todo.name}}</td>
<td>{{todo.priority}}</td>
<td>{{todo.duration}}</td>
<td><input type="checkbox" ng-disabled="true" ng-model="todo.locked"></td>
<td ng-show="showDates">{{todo.begin | date:'MMM-dd HH:mm'}}</td>
<td ng-show="showDates">{{todo.end | date:'MMM-dd HH:mm'}}</td>
<td>
  <div class="btn-group" dropdown>
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li>
        <a class="menuitem" href="#" data-ng-click="editTodo(todos[$index])">
        Edit
        </a>
      </li>
      <li>
        <a class="menuitem" href="#" data-ng-click="deleteTodo(todos[$index]._id)">
        Delete
        </a>
      </li>
    </ul>
  </div>
</td>
